AboutScreen {
  align: center middle;
  content-align: center top;

  & > Container {
    padding: 1 2 0 2;
    margin: 0 0;
    width: 50;
    height: 10;
    border: solid $border;

    & > Static {
      text-align: center;
      text-wrap: wrap;
    }

    & > Horizontal#controls {
      padding-top: 1;
      align: center bottom;

      & > Button {
        color: $border;
        border: none;

        & > :focus {
            color: $border;
        }
      }
    }
  }

}
