QuestionScreen {
  align: center middle;
  content-align: center top;

  & > Container {
    padding: 1 2 0 2;
    margin: 0 0;
    width: 50;
    height: auto;
    border: solid $warning-darken-1;

    & > Static {
      margin: 1;
      text-align: center;
      text-wrap: wrap;
    }

    & > Horizontal {
      height: auto;
      align: center bottom;
       & > Button {
        width: 5;
       }
    }

  }

}
